/Tesseract_TrainedLanguageData
/SCPoseTracker_Capture/DebugOverlay_OCRTest/bin
/SCPoseTracker_Capture/DebugOverlay_OCRTest/obj
/SCPoseTracker_Capture/SCPoseTracker_Capture_LINUX/bin
/SCPoseTracker_Capture/SCPoseTracker_Capture_WIN/bin
