/SCPoseTracker_Capture/.vs
/SCPoseTracker_Capture/SCPoseTracker_Capture_LINUX/bin
/SCPoseTracker_Capture/SCPoseTracker_Capture_LINUX/obj
/SCPoseTracker_Capture/SCPoseTracker_Capture_WIN/bin
/SCPoseTracker_Capture/SCPoseTracker_Capture_WIN/obj
